html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	min-height: 100vh;
	background-color: #000000;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: #ffffff;
	margin-top: 0;
	font-family: Poppins;
}

ul,
ol {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #ffffff;
	font-family: Poppins;
}

.index__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 30px;
}
.index__link {
	font-size: 25px;
	line-height: 20px;
}
.index__list {
	display: flex;
	gap: 32px;
}

.index__list-link {
	font-size: 20px;
	position: relative;
}
.index__list-link:hover {
	color: #c0c0c0;
}
.index__main {
	background: linear-gradient(0deg, #000000 -19.97%, rgba(0, 0, 0, 0) 98.53%),
		url(./images/imgonline-com-ua-Black-White-CPePw88gRho.jpg);
	border-radius: 0px;
	background-size: 100%;

	background-position: center;
	background-repeat: no-repeat;
	padding-top: 385px;
	padding-bottom: 50px;

	text-align: center;
}

.index__main-info {
	margin-bottom: 15px;
}
.main__info-position {
	font-size: 14px;
	line-height: 1.4;

	text-transform: uppercase;
	color: #c0c0c0;
}
.main__info-title {
	font-size: 40px;
	line-height: 50px;
}

.main__info-text {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	width: 580px;

	font-size: 14px;
	line-height: 20px;

	color: #c0c0c0;
}
.index__credo-fon {
	padding-top: 40px;
	padding-bottom: 40px;

	text-align: center;
}

.credo-text {
	margin-bottom: 0;
}

.footer {
	border-top: 2px solid #ffffff;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
}
.contact-list {
	display: flex;
	text-align: center;
	justify-content: center;
	gap: 25px;
}
.contact-title {
	color: #c0c0c0;
}

.contact__list-link {
	color: #c0c0c0;
}

.contact__list-link:hover {
	color: #ffffff;
}
.opportunity__seaction {
	padding-top: 50px;
	padding-bottom: 50px;
}
.opportunity__title {
	text-align: center;
}
.opportunity__div-img {
	width: 100%;
}

.opportunity-div {
	padding: 10px;
}
.opportunity__list-img {
	object-fit: cover;
	height: 400px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.opportunity__list {
	width: 900px;
	margin-right: auto;
	margin-left: auto;

	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 30px;
	justify-items: center;
}
.opportunity__list-item {
	width: 410px;
	background-color: rgba(28, 28, 28, 0.648);
	box-shadow: 0px 7px 20px -4px rgba(255, 255, 255, 1);
	border-radius: 10px;
}
.opportunity-div {
	width: 400px;
}
.current {
	color: #ffffff;
}

.index__list-link.current::after {
	position: absolute;
	bottom: -8px;
	left: 0;
	color: #ffffff;
	background-color: #ffffff;
	border-radius: 2px;
	content: "";
	display: block;
	width: 100%;
	height: 5px;
}
.education {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 150px;
	height: 350px;
	text-align: center;
}
.education__title {
	font-size: 30px;
}
.education__text {
	font-size: 20px;
}
.hobby {
	padding-top: 50px;
	padding-bottom: 50px;
	height: 310px;
	margin-top: 199px;
}
.hobby__list {
	display: flex;
	justify-content: center;
	gap: 30px;
	font-size: 20px;
}
